#site-map.content-block
  .site-branch
    %h4.left
      Main Nav
      %span.divider-line-horizontal
    %ul.right
      %span.divider-line-vertical
      %li Home
      %li
        %span.display HR
        %input.edit{:style => "display:none", :type => "text"}/
      %li Taxes
      %li Legal
      %li Pricing
      %li Blog
  %div
