<div id="site-map" class="content-block">
  <div class="site-branch">
    <h4 class="left">
      Main Nav
      <span class="divider-line-horizontal"></span>
    </h4>
    <ul class="right">
      <span class="divider-line-vertical"></span>
      <li>Home</li>
      <li>
        <span class="display">HR</span>
        <input type="text" class="edit" style="display:none"/>            
      </li>
      <li>Taxes</li>
      <li>Legal</li>
      <li>Pricing</li>
      <li>Blog</li>
    </ul>
  </div>
<div>