.close-paging-example close
.paging-example-container
  %section
    step 1
    %p scroll...
  %section
    step 2
    %p scroll again...
  %section
    step 3
    %p and again...
  %section
    step 4
    %p last time...
  %section
    step 5
    %p.close-paging-example-1 
      click 
      %span.bold here 
      to close this & go back