
%h2.left UI</br>&</br>UX
  
%dl.right.ui-pages.accordion
  %dt
    =link_to('Home','#')
  %dd
    =link_to( 'v1.0', '#', :class => 'loads-slider' )
    -# =link_to('v1.0 w/ Labels','#')

  %dt.strikethru
    =link_to('HR','#')
  %dd.strikethru
    =link_to('v0.0','#')

  %dt.strikethru
    =link_to('Tax','#')
  %dd.strikethru
    =link_to('v0.0','#')

  %dt.strikethru
    =link_to('Law','#')
  %dd.strikethru
    =link_to('v0.0','#')

  %dt.strikethru
    =link_to('Pricing','#')
  %dd.strikethru
    =link_to('v0.0','#')

  %dt.strikethru
    =link_to('Blog','#')
  %dd.strikethru
    =link_to('v0.0','#')

  