
.descriptive-flyout
  .button-close-description close
  %p.descriptive-text
  
%div.slider-nav.hidden
  %span.button-close close
  %span.button-descriptive-flyout slide description
  
#slider-wrapper
  
%h2.left UI</br>&</br>UX
  
%dl.right.ui-pages.accordion

  %dt
    =link_to 'Home','#'
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_home" }, :remote => true, :class => 'slider-link'
    =link_to 'navigation v1', { :controller => "design", :action => "ui_navigation" }, :remote => true, :class => 'slider-link'
    =link_to 'steps, paging example', { :controller => "design", :action => "paging_example" }, :remote => true, :class => 'paging-example-link'
    


  %dt
    =link_to('Pricing','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_pricing" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('About','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_about" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('Blog','#')
  %dd
    =link_to 'root page v1', { :controller => "design", :action => "ui_blog" }, :remote => true, :class => 'slider-link'
    =link_to 'entry page v1', { :controller => "design", :action => "ui_blog" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('Law','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_law" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('HR','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_hr" }, :remote => true, :class => 'slider-link'
  
  %dt
    =link_to('Tax','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_tax" }, :remote => true, :class => 'slider-link'



