.royalSlider.rsDefault.image-slider
  =image_tag("ui-about-v1.0.png", :class => "rsImg", :alt => "About v1", :data => { :description => "The about page will be a simple but beautiful layout relying on strong fundamentals and poised for getting turnt up"})
