%div.slider-nav.hidden
  %span.button-close close
  %p.rsCaption
    Home Page Wireframe UI v1.0
.royalSlider.image-slider.hidden
  %p poo
  
%h2.left UI</br>&</br>UX
  
%dl.right.ui-pages.accordion

  %dt
    =link_to 'Home','#'
  %dd
    =link_to 'v1.0', '#'   , :class => "slider-link", :'data-page-name' => "<p>stuff</p></img src='/assets/spacecat.png' class='rsImg'>"
    =link_to 'steps, paging', '#'   , :class => "paging-example-link"
  %dt
    =link_to('Pricing','#')
  %dd
    =link_to 'v1.0', '#', :class => "slider-link", :'data-page-name' => '<div>Pricing</div><div>poo</div>'

  %dt
    =link_to('HR','#')
  %dd
    =link_to 'v1.0', image_path('spacecat.png')

  %dt.strikethru
    =link_to('Tax','#')
  %dd.strikethru
    =link_to 'v1.0', '#', :class => "slider-link", :'data-page-name' => '<div>Tax</div><div>poo</div>'

  %dt.strikethru
    =link_to('Law','#')
  %dd.strikethru
    =link_to('v0.0','#')

  %dt.strikethru
    =link_to('Blog','#')
  %dd.strikethru
    =link_to('v0.0','#')


