%div.slider-nav.hidden
  %span.button-close close
  
#slider-wrapper
  
%h2.left UI</br>&</br>UX
  
%dl.right.ui-pages.accordion

  %dt
    =link_to 'Home','#'
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_home" }, :remote => true, :class => 'slider-link'
    =link_to 'steps, paging example', { :controller => "design", :action => "paging_example" }, :remote => true, :class => 'paging-example-link'


  %dt
    =link_to('Pricing','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_pricing" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('Blog','#')
  %dd
    =link_to 'root page v1', { :controller => "design", :action => "ui_blog" }, :remote => true, :class => 'slider-link'
    =link_to 'entry page v1', { :controller => "design", :action => "ui_blog" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('Law','#')
  %dd
    =link_to 'v1', { :controller => "design", :action => "ui_law" }, :remote => true, :class => 'slider-link'

  %dt
    =link_to('HR','#')
  %dd
    =link_to 'space cat', image_path('spacecat.png')

  %dt.strikethru
    =link_to('Tax','#')
  %dd.strikethru
    =link_to('v0.0','#')



