
%h2.left UI</br>&</br>UX
  
%ul.right.ui-pages
  %li
    =link_to('Home','#')
  %li
    =link_to('HR','#')
  %li
    =link_to('Tax','#')
  %li
    =link_to('Law','#')
  %li
    =link_to('Pricing','#')
  %li
    =link_to('Blog','#')

