.royalSlider.rsDefault.image-slider
  =image_tag("ui-blog-main-v1.0.png", :class => "rsImg", :alt => "Blog Main v1", :data => { :description => "With less than 50 stories I recommend keeping the blog interface minimal and focus mainly on the blog as a vehicle for SEO. </br></br>The top of the page prominently displays three stories. Below is a reverse chronological list of stories, showing five at a time with a button to load more."})
  
  =image_tag("ui-blog-entry-v1.0.png", :class => "rsImg", :alt => "Blog Entry v1", :data => { :description => "Similar to the main blog page, the blog entry page's interface is kept to the minimum, with the exception of the three stories below the entry. </br></br>The blog's photo is displayed, edge to edge, at the top of the page. This being a blog representing Suitless, each photo needs to be chosen thoughtfully from a visual perspective and as a result will look sweet at large sizes."})
