.royalSlider.rsDefault.image-slider
  =image_tag("ui-blog-main-v1.0.png", :class => "rsImg", :alt => "Blog Main v1", :data => { :description => ""})
  
  =image_tag("ui-blog-entry-v1.0.png", :class => "rsImg", :alt => "Blog Entry v1", :data => { :description => ""})
