.royalSlider.rsDefault.image-slider
  =image_tag("ui-navigation-v1.0.png", :class => "rsImg", :alt => "Navigation Menu v1", :data => { :description => "The navigation will be truncated into a hamburger icon that upon clicking reveals a full page menu that has ample room for some secondary information such as contact."})
