%body
  %header
    %h1.project-title
      %span s
      %span u
      %span i
      %span t
      %span l
      %span e
      %span s
      %span s
    %ul.main-nav.clearfix
      %li.active Site Map
      %li Copy
      %li Design
      %li Development
