%body
  %header
    %h1.project-title
      <span>s</span><span>u</span><span>i</span><span>t</span><span>l</span><span>e</span><span>s</span><span>s</span>
    %ul.main-nav.clearfix
      %li#site-map
        =link_to('site map', site_map_path)
      %li#copy
        =link_to('copy', copy_path)
      %li#design
        =link_to('design', design_path)
      %li#development.strikethru
        =link_to('development', development_index_path)