<header>
  <h1 class="project-title"><span>s</span><span>u</span><span>i</span><span>t</span><span>l</span><span>e</span><span>s</span><span>s</span></h1>
  <ul class="main-nav clearfix">
    <li class="active">Site Map</li>
    <li>Copy</li>
    <li>Design</li>
    <li>Development</li>
  </ul>
</header>