%ul.copy-pages
  %li Home
  %li About
  %li HR
  %li Taxes
  %li Legal
  %li Pricing
  
%ul.copy-text
  %li.home-copy
    %h2 HR and law for graceful growth.
    %p We provide HR and law to well-funded, 5-to-500-person companies to support brand, talent, and culture. Unlike bloated firms or ninny consultants, we support rapid-growth businesses with lean execution and low overhead.
    %h3 How It Works
    %ul
      %li contact us
      %li quick consult
      %li buy hours
      %li get support
      %li keep growing

  %li.about-copy    
    %h2 As founders, we know that entrepreneurs need to move rapidly without worrying about compliance. 
    %h3 Michael A. Cohen
    %p Based in Washington, D.C.
    %p HR for small, medium, and large businesses
    %p HR leader for tech companies
    %p M.A. in HR, M.S. in Adult Ed., SPHR
    %p Loves Indian food
    %h3 Todd M. Heine
    %p Based in Seattle,WA
    %p Attorney for small, medium, and large businesses
    %p Legal advisor for leading growth companies
    %p J.D., LL.M., Master 2 Droit
    %p Loves big mountains

  %li.hr-copy
    %p HR

  %li.taxes-copy
    %p taxes

  %li.legal-copy

  %li.pricing-copy
