%ul.copy-pages
  %li Home
  %li About
  %li HR
  %li Taxes
  %li Legal
  %li Pricing
  
%ul.copy-text
  %li.home-copy
    %h2 HR and law for graceful growth.
    %p We provide HR and law to well-funded, 5-to-500-person companies to support brand, talent, and culture. Unlike bloated firms or ninny consultants, we support rapid-growth businesses with lean execution and low overhead.
    %br
    %h3 How It Works
    %ul
      %li 
        %span step 1:
        contact us
      %li 
        %span step 2:
        quick consult
      %li 
        %span step 3:
        buy hours
      %li 
        %span step 4:
        get support
      %li  
        %span step 5:
        keep growing

  %li.about-copy    
    %h2 As founders, we know that entrepreneurs need to move rapidly without worrying about compliance. 
    %h3 Michael A. Cohen
    %p Based in Washington, D.C.
    %p HR for small, medium, and large businesses
    %p HR leader for tech companies
    %p M.A. in HR, M.S. in Adult Ed., SPHR
    %p Loves Indian food
    %h3 Todd M. Heine
    %p Based in Seattle,WA
    %p Attorney for small, medium, and large businesses
    %p Legal advisor for leading growth companies
    %p J.D., LL.M., Master 2 Droit
    %p Loves big mountains

  %li.hr-copy
    %h2 If you think HR is just onboarding, payroll, benefits, and offboarding, then you aren't thinking strategically.
    %p (Because those are just low-value tasks that a well-trained chimp and your HR software can do.)
    %br
    %h2 We know that HR is brand, talent, and culture, which lead to success.
    %p HR is a comprehensive, integrated, and high-value set of deliverables that require planning, subject-matter knowledge, and experience and coordination with legal counsel.
    %br
    %h2 Yes, HR includes things like development, hiring, recruiting, policy, onboarding, payroll, benefits, and offboarding, and you need more than software to get it right.
    %p From your first hire until after you have hired your own HR manager, we deliver the HR services that matter.
    
    
  %li.taxes-copy
    %h2 If you think tax is just about bookkeeping, filing quarterlies, and submitting annual returns, then you aren't maximizing your advantages.
    %p (Because anyone can do that for you.)
    %br 
    
    %h2 We know that tax is an opportunity to increase profits and make decisions.
    %p Tax is a comprehensive and high-value skill set that includes all aspects of your financial position and an understanding of numbers that far exceeds deductions, credits, and reconciliations.
    %br
    
    %h2 Yes, you'll need a tax plan that reduces your liability, analyzes your finances, provides insights for growth, and works hand-in-hand with the rest of your business, and you'll need more than a nerdy accountant to get it right.
    %p From your first hire until after you have hired your CFO, we deliver the tax services that matter.
    
  %li.legal-copy
    %h2 If you think law is authoritative, reactive, expensive, and formal then you're not thinking about value.
    %p These are the unfortunate misconceptions that the legal industry has historically wanted you to have about how your business relationship with the law should be.
    %br
    
    %h2 We know law is power, value, and clarity, which leads to purpose.
    %p Law works in concert with business in a way that needs to make sense to all stakeholders. Businesses have General Counsel and HR Directors working together for good reasons.
    %br
    
    %h2 Yes, law includes things like immigration, international, equity, taxation, employment, corporate, IP, and contracts, and you need more than a law firm to get it right.
    %p From incorporation until after you have hired in-house general counsel, we support legal needs.
  %li.pricing-copy
    %h2 HR Services
    %h5 from $750
    %br 

    %h2 Legal Services
    %h5 from $750
    %br 

    %h2 Tax Services
    %h5 from $750
    %br 

    %h2 Recruitment Services
    %h5 from $750
    %br 
