ul.folder-holder {
  text-align:center;
  width:46%;
  margin:auto;
  position:relative;
  padding:30px;
  li {
    float:left;
    padding-right: 34px;
    margin-left:60px;
    img {
      margin-left:-30px;
      margin-bottom:8px;
      width:146px;
      height:auto;
    }
    a {
      display:block;
      font-size:12px;
      padding: 14px 0;
      text-transform:uppercase;
      opacity:.5;
      width:144px;
    }
  }
}