body.site_tree {
  .main-nav #site-map{
    border-right:1px solid #d8d8d8;
    border-left:1px solid #d8d8d8;
  }
}
body.copy {
  .main-nav #copy{
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
  }
}
body.design {
  .main-nav #design{
    border-left:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
  }
}
body.development {
  .main-nav #development{
    border-top:1px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
  }
}
header {
  margin-bottom:65px;
  .project-title {
    color:#444;
    font-size:64px;
    font-family:HelveticaNeueLTStd-Hv;
    text-align:center;
    margin:48px 0 32px 0;
    font-weight:bold;
    /*
    :nth-child(1):hover {
      color:pink;        
    }
    :nth-child(2):hover {
      color:green;        
    }
    :nth-child(3):hover {
      color:blue;        
    }
    :nth-child(4):hover {
      color:orange;        
    }
    :nth-child(5):hover {
      color:silver;        
    }
    :nth-child(6):hover {
      color:red;        
    }
    :nth-child(7) {
      color:grey;        
    }
    :nth-child(8):hover {
      color:maroon;        
    }
    */
  }
  .main-nav {
    font-family:HelveticaNeueLTStd-Th;
    width:34%;
    margin:auto;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:3px;
    overflow:hidden;
    li {
      float:left;
      padding:8px 14px 4px 14px;
      font-size:11px;
      border:1px solid rgba(255,255,255,0);
      a {
        padding:8px 0;
      }
    }
  }
}
