* {
  box-sizing:border-box;
}
a {
  text-decoration:none;
  color:#000;
  &:hover {
  }
  
}


.clearfix  { 
  overflow :auto; 
  zoom :1; 
}
.divider-line-horizontal {
  background: image-url('horizontal-divider-black.png');
  height:1px;
  width:100%;
  display:block;
}
.divider-line-vertical {
  background: image_url('vertical-divider-black.png');
  height:1000px;
  width:1px;
  display:block;
}

.strikethru {
  text-decoration: line-through;
  opacity:.4;
}

.hidden {
  display:none;
}
html { height:100%;}
body {
  font-family:HelveticaNeueLTStd-Th;
  //font-family:Helvetica;
  #wrapper {
    max-width:1180px;
    margin:auto;    
  }
}
ul {
  text-decoration:none;
}

a {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

#content {
  clear:both;
}

