#slider-wrapper {
  height:100%;
  float:left;
  .royalSlider {
    .rsSlide {
      overflow:auto;
    }
  }

}
.descriptive-flyout {
  position: fixed;
  top: 0;
  overflow: auto;
  right: -420px;
  height: 100%;
  width: 420px;
  padding:40px 60px 40px 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  z-index: 300;
  -webkit-transition: margin 500ms;
  -moz-transition: margin 500ms;
  transition: margin 500ms;
  .descriptive-text {
    line-height:1.4;
  }
  .button-close-description {
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    &:hover {
      color:magenta;
    }
  }
}
.close-paging-example-1 {
  cursor:pointer;
}
.image-slider {
  z-index:100;
  height:100%;
  //height:6116px;
  position:absolute;
  top:0px;
 // padding-top:48px;
  width:100%;
  left:0;
  background-color: white;
  .rsImg {
    display: block;
    margin: auto;
    padding: 0 90px;
    width:100%;
    background-color:#333;
  }
}
.slider-nav {
  z-index:110;
  padding:15px 30px;
  opacity:.2  ;
  width:100%;
  height:48px;
  position:fixed;
  top:0;
  left:0;
  background:#000;
  color:#eee;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
  &:hover {
    opacity:.8;
  }
  > span {
    margin-left:20px;
    float:right;
    //font-family:HelveticaNeueLTStd-Hv;
    //font-size:20px;
    cursor:pointer;
    text-align:right;
    z-index: 10;
    padding:2px;
    text-transform:uppercase;
    position: relative;
    &:hover {
      text-decoration:underline;
    }
  }
}